{{> header}}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-b-90">
      <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/users/login">
        <span class="login100-form-title p-b-51">
          Login
        </span>
        <div style="text-align: center;color:red">
          <small>
            {{message}}
          </small>
        </div>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
          <input type="email" class="form-control" id="txtUsername" name="username" aria-describedby="emailHelp"
            placeholder="Enter email" value="{{username}}">
        </div>


        <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
          <input type="password" class="form-control" id="txtPasseword" name="password" placeholder="Password"
            value="{{password}}">
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
        <div class="col" style="margin-top:10px;text-align: right;">
          <a href="/register" class="txt1">
            Sign Up?
          </a>
        </div>

      </form>
      <div>
        <a href="/google" title="Login with Google"><i class="fa fa-google" aria-hidden="true">Login</i>
      </div>
    </div>
  </div>
</div>